@import "tailwindcss";

@theme {
  --color-brand-50: oklch(0.97 0.012 274.78);
  --color-brand-100: oklch(0.94 0.03 274.78);
  --color-brand-200: oklch(0.88 0.07 274.78);
  --color-brand-300: oklch(0.78 0.12 274.78);
  --color-brand-400: oklch(0.67 0.17 274.78);
  --color-brand-500: oklch(0.57 0.195 274.78);
  --color-brand-600: oklch(0.513 0.2013 274.7847);
  --color-brand-700: oklch(0.44 0.195 274.78);
  --color-brand-800: oklch(0.36 0.16 274.78);
  --color-brand-900: oklch(0.28 0.12 274.78);
  --color-brand-950: oklch(0.18 0.085 274.78);
}

@layer base {
  html {
    scroll-behavior: smooth;
  }
  body {
    font-family: var(--font-inter), Inter, sans-serif;
    @apply antialiased;
  }
}
